body{
    background-color : #c3e0e5;
    display : flex;
    flex-direction: row;
    justify-content: center;
    scroll-behavior: smooth;
}

.main-div{
    display : flex;
    flex-direction : column;
    justify-content : center;
    width : 500px;
    
}

.title{
    display : flex;
    flex-direction : row;
    justify-content: center;
    font-size : 3em;
    color : #274472;
    text-decoration : underline;
    font-weight : 800;
}

.displays{
    display : grid;
    grid-template-columns: 250px 200px 100px;
    column-gap: 20px;
    margin-bottom : 60px;

}
.input-bar{
    padding : 15px;
    font-size : 1em;
    border : none;
    border-radius : 25px;
}
.input-date{
    padding : 15px;
    font-size : 1em;
    border : none;
    border-radius : 25px;
    cursor : pointer;
}

.add-button{
    padding : 15px;
    font-size : 1em;
    border : none;
    border-radius : 25px;
    background-color: #5885af;
    color : white;
    cursor :pointer;
}

.add-button:hover{
    opacity: 0.7;
}
.add-button:active{
    opacity : 0.5;
}

.displays-todos{
    display : grid;
    grid-template-columns: 250px 200px 100px;
    column-gap: 20px;
    margin-bottom : 60px;
    margin-top : 30px;
    align-items : center;
    
}
.name,.date{
    font-size :1.2em;
    color : black;
    font-weight : 800;

    
}
.delete-button{
    padding : 15px;
    font-size : 1em;
    border : none;
    border-radius : 25px;
    background-color: red;
    color : white;
    cursor :pointer;
    font-weight : bold;
}
.delete-button:hover{
    opacity : 0.7;
}
.delete-button:active{
    opacity : 0.5;
}