body{
    display : flex;
    justify-content : center;
    background-color : #E5D0AC;
    font-family : roboto, arial;
    align-items : center;
    height : 100vh;
}

.container{
    display : flex;
    flex-direction : column;
     margin-top : 30px;
    
}

.title{
    display : flex;
    flex-direction : row;
    justify-content :center;
    font-size : 3em;
    font-weight : 900;
    color : #C14600;
    margin-bottom : 30px;
}

.displays{
    display : grid;
    grid-template-columns: 350px 250px 100px;
    gap : 20px;
}

.input-bar,
.input-date{
    padding : 15px;
    border : 1px solid lightgray;
    border-radius : 3px;
    font-size : 1em;
   
}
.add{
    background-color : #FF9D23;
    color : white;
    border : 1px solid lightgray;
    border-radius : 3px;
    cursor : pointer;
    font-size : 1em;

}

.add:hover{
    opacity : 0.8;
}
.add:active{
    opacity : 0.6;
}

.display{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    margin-top : 20px;


}

.display2{
  display: grid;
  grid-template-columns: 350px 250px 100px;
  gap : 20px;
}
.name,
.date{
    font-size : 1.1em;
    font-weight : bold;
    color : black;
    
}

